<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>informations villes</title>
  </head>
  <body>
    <div id="app">
      <input type="search" v-model="nomVille" @change="recupererVilles()" />
      <ul v-for="ville in resultatApi">
        <li>nom: {{ville.nom}}</li>
        <li>population: {{ville.population}} habitants</li>
        <li>surface: {{ville.surface}} hectares</li>
        <li>
          Codes Postaux:
          <ul v-for="codePostal in ville.codesPostaux">
            <li>{{codePostal}}</li>
          </ul>
          <li>région: {{ville.region.nom}}</li>
          <li>département: {{ville.departement.nom}}</li>
          <li><a :href="urlGoogleMap(ville.centre.coordinates[1], ville.centre.coordinates[0])">Localisation ?</a></li>
        </li>
      </ul>
    </div>
  </body>
  <style></style>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/axios"></script>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          nomVille: '',
          resultatApi: [],
        }
      },
      methods: {
        recupererVilles: async function () {
          //console.log( `https://geo.api.gouv.fr/communes?nom=${this.nomVille}&fields=code,nom,surface,population,codesPostaux,zone,departement,region,centre&boost=population`)
          return await axios
            .get(
              `https://geo.api.gouv.fr/communes?nom=${this.nomVille}&fields=code,nom,surface,population,codesPostaux,zone,departement,region,centre&boost=population`,
            )
            .then((response) => {
              this.resultatApi = response.data
            })
        },
        urlGoogleMap:function(longitude,latitude){
          return `https://www.google.com/maps/@${longitude},${latitude},15z?hl=fr`
        }
      },
    })
    app.mount('#app')
  </script>
</html>
